.contact-link {
    font-size: 1.8rem;
    color: $main-black;
    font-family: "Segoe UI", sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    -webkit-transition: color .1s ease;
    -o-transition: color .1s ease;
    transition: color .1s ease;
    
    &:hover {
        color: #777;
        text-decoration: none;
    }
}

.contact-icon {
    padding: 1rem;
    width: 4rem;
    text-align: center;
}