.footer {
    width: 100%;
    margin-top: 15rem;
    padding-bottom: 1rem;
    
    &--logo {
        @include respond(tab-port) {
            display: none;
        }
    }
    
    &__content {
        width: 80%;
        display: block;
        margin: 0 auto;
        clear: both;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        @include respond(tab-port) {
            flex-direction: column-reverse;
            justify-content: center;
        }
        
        &__left {
            padding: 1rem;
            text-align: left;
            
            &--copy {
                margin-top: 2rem;
                @include respond(tab-port) {
                    text-align: center;
                    margin-top: 0;
                }
            }
            
        }
        
        &__right {
            padding: 1rem;
            text-align: right;
            @include respond(tab-port) {
                text-align: center;
            }
            
            &--contact {
                border-bottom: 2px solid $main-black;
                padding: .5rem;
                margin-bottom: 2rem;
            }
            
            &__social {
                &__icon {
                    display: inline-block;
                    padding: 0 .5rem;
                    
                    &--link {
                        font-size: 2rem;
                        color: $main-black;
                        @include respond(tab-port) {
                            font-size: 2.4rem;
                        }
                        
                        &:hover {
                            color: #555;
                        }
                    }
                }
            }
        }
    }
}