//FOR DESIGN SECTION
.player {background-image: url('../img/design/player.png');}

.cblf {background-image: url('../img/design/cblf.png');}

.camaro {background-image: url(../img/design/Camaro.png);}

.skull {background-image: url(../img/design/skull1.jpg);}

.Design {background-image: url(../img/design/design.jpg);}

.party {background-image: url(../img/design/hd.jpg);}

.targets {background-image: url(../img/design/targets.jpg);}

.dada {background-image: url(../img/design/dada.jpg);}

.trend {background-image: url(../img/design/trend.jpg);}

.reg {background-image: url(../img/design/reg.jpg);}

//FOR WEB SECTION

.dba {background-image: url(../img/web/dba.jpg);}

.natours {background-image: url(../img/web/natours.jpg);}

.flexboys {background-image: url(../img/web/flexboys.jpg);}

.glitch {background-image: url(../img/web/glitch.jpg);}

.fullstack {background-image: url(../img/web/fullstack.jpg);}