//FOR DESIGN SECTION
.player {background-image: url('../img/design/player.png');}

.cblf {background-image: url('../img/design/cblf.png');}

.camaro {background-image: url(../img/design/Camaro.png);}

.skull {background-image: url(../img/design/skull1.jpg);}

.Design {background-image: url(../img/design/design.jpg);}

.party {background-image: url(../img/design/hd.jpg);}


//FOR WEB SECTION

.dba {background-image: url(../img/web/dba.png);}

.natours {background-image: url(../img/web/natours.png);}

.flexboys {background-image: url(../img/web/flexboys.png);}

.glitch {background-image: url(../img/web/glitch.png);}

.fullstack {background-image: url(../img/web/fullstack.png);}