.section-name {
    width: 100%;
    text-align: center;
    font-size: 5.4rem;
    font-family: "Libre Franklin", sans-serif;
    letter-spacing: 5rem;
    padding: 15rem 0;
    @include respond(tab-port) {
        font-size: 2.4rem;
        letter-spacing: 2.5rem;
        padding: 6rem 0;
    }
    @include respond(tab-land) {
        font-size: 3rem;
    }
}

.nospace {
    letter-spacing: 0;
}