@font-face {
    font-family: 'NATS';
    src:url('fonts/NATS.ttf.woff') format('woff'),
        url('fonts/NATS.ttf.svg#NATS') format('svg'),
        url('fonts/NATS.ttf.eot'),
        url('fonts/NATS.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}